{% extends 'base.html' %}

{% block content %}
<div class="">
  <p class="h3 text-center mb-5">ショッピングカート</p>
  <div class="row">
    <div class="col-sm-9">
      <ul class="list-group">
        {% for cart_item in cart %}
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-9">
              <p class="h5">{{ cart_item.item.code }} {{ cart_item.item.prefecture }} {{ cart_item.item.city }} {{ cart_item.item.area }}</p>
              <p>価格： {{ cart_item.item.price }}円</p>
            </div>
            <div class="col-sm-3">
              <p class="mb-1">数量</p>
              <p class="mb-1">
                <a href="{% url 'removesingleitem' cart_item.item.slug %}"><span class="badge bg-secondary">-</span></a>
                {{ cart_item.quantity }}
                <a href="{% url 'additem' cart_item.item.slug %}"><span class="badge bg-secondary">+</span></a>
              </p>
              <p class="mb-1">
                <a href="{% url 'removeitem' cart_item.item.slug %}"><span class="badge bg-danger">削除</span></a>
              </p>
            </div>
          </div>
        </li>
        {% empty %}
        <p class="text-center">カートは空です</p>
        {% endfor %}
      </ul>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body text-center px-2 py3">
          {% if total_price %}
          <p class="h5 mb-5">小計: <span class="font-weight-bold">{{ total_price }}</span>円</p>
          <div class="mb-3">
            <a href="{% url 'ordercheck' %}" class="btn btn-outline-primary">レジに進む</a>
          </div>
          {% endif %}
          <a href="/" class="btn btn-outline-primary">買い物を続ける</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}