{% extends 'base.html' %}

{% block content %}
<div class="w-50 mx-auto">
  <p class="h3 text-center mb-4">商品詳細</p>
  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col-sm-3">郵便番号</div>
        <div class="col-sm-9">{{ item_data.code }}</div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-sm-3">都道府県</div>
        <div class="col-sm-9">{{ item_data.prefecture }}</div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-sm-3">市区町村</div>
        <div class="col-sm-9">{{ item_data.city }}</div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-sm-3">町域</div>
        <div class="col-sm-9">{{ item_data.area }}</div>
      </div>
    </li>
  </ul>
  <div class="text-center mt-4">
    <a href="{% url 'additem' item_data.slug %}" class="btn btn-outline-primary">カートに入れる</a>
  </div>
</div>
{% endblock %}