{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="">
  <p class="h3 text-center mb-5">注文内容の確認</p>
  <div class="row">
    <div class="col-sm-9">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">お届け先住所</h5>
          <p class="card-text">
            名前：{{ user_data.last_name }} {{ user_data.first_name }}<br>
            住所：{{ user_data.address }}<br>
            電話番号：{{ user_data.tel }}
          </p>
          {% if not user_data.last_name or not user_data.first_name or not user_data.address or not user_data.tel %}
          <div class="alert alert-danger" role="alert">
            必須項目が入力されていません。
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body text-center px-2 py3">
          <p class="h5 mb-5">ご請求金額: <span class="font-weight-bold">{{ total_price }}</span>円</p>
          {% if not user_data.last_name or not user_data.first_name or not user_data.address or not user_data.tel %}
          <div class="mb-3">
            <a href="{% url 'profile_edit' %}" class="btn btn-outline-primary">プロフィールを編集する</a>
          </div>
          {% else %}
          <form method="post" class="mb-3">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-danger">注文を確定する</button>
          </form>
          {% endif %}
          <div class="mb-3">
            <a href="{% url 'cart' %}" class="btn btn-outline-secondary">カートに戻る</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}