{% extends 'base.html' %}

{% block content %}

<div class="w-50 mx-auto">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col-sm-3">名前</div>
        <div class="col-sm-9">{{ user_data.last_name }} {{ user_data.first_name }}</div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-sm-3">メールアドレス</div>
        <div class="col-sm-9">{{ user_data.email }}</div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-sm-3">所属</div>
        <div class="col-sm-9">{{ user_data.department }}</div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-sm-3">入会日</div>
        <div class="col-sm-9">{{ user_data.created }}</div>
      </div>
    </li>
  </ul>
  <div class="text-center mt-4">
    <a href="{% url 'profile_edit' %}" class="btn btn-outline-primary">編集する</a>
  </div>
</div>

{% endblock %}