{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

<div class="w-50 mx-auto">
  <p class="h3 text-center mb-4">プロフィール編集</p>
  <form method="post">
    {% csrf_token %}
    <ul class="list-group">
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-3">名前</div>
          <div class="col-sm-9">
            <div class="row">
              <div class="col">{% render_field form.last_name class='form-control' placeholder='姓' %}</div>
              <div class="col">{% render_field form.first_name class='form-control' placeholder='名' %}</div>
            </div>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-3">住所</div>
          <div class="col-sm-9">{% render_field form.address class='form-control' placeholder='住所' %}</div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-3">電話番号</div>
          <div class="col-sm-9">{% render_field form.tel class='form-control' placeholder='電話番号' %}</div>
        </div>
      </li>
    </ul>
    <div class="d-grid gap-2 d-md-flex justify-content-md-center mt-4">
      <button type="submit" name="book" class="btn btn-outline-primary">保存する</button>
      <button type="submit" name="cancel" class="btn btn-outline-secondary">やめる</button>
    </div>
  </form>
</div>

{% endblock %}